<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Student Form</title>
    </head>
    <body>
        <form action="http://127.0.0.1:5000/result" method="post">
            <label>Name: </label>
            <input type="text" name="Name">
            <br>
            <label>Physics: </label>
            <input type="text" name="Physics">
            <br>
            <label>Chemistry: </label>
            <input type="text" name="Chemistry">
            <br>
            <label>Maths: </label>
            <input type="text" name="Maths">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>